In [1]:
# Standard data science imports
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline
import seaborn as sns

# Import our cleaning script
import data_clean

In [2]:
# This line is set so that autocomplete works in Jupyter
%config Completer.use_jedi = False

In [3]:
trails_info = data_clean.cleanit()

The number of rows in the dataframe is: 3313
If this number matches the number of trails in the file, lat/lon split correctly: 3313

If lat/lon appears to have split correctly, enter "y" to continue. Otherwise enter any key to abort:  y

Creating lists for unique features and activities...
List creation complete.

Creating columns in dataframe for unique features...
Column creation and fill complete for features.

Creating columns in dataframe for unique activities...
Column creation and fill complete for activities.

Dropping unncessary features and activities columns.

Complete!
This script ran in 34.59 seconds.

In [4]:
# Check the new dataframe
trails_info.head()

,trail_id,name,area_name,city_name,state_name,country_name,popularity,length,elevation_gain,difficulty_rating,...,snowshoeing,cross-country-skiing,fly-fishing,paddle-sports,skiing,bike-touring,whitewater-kayaking,ice-climbing,surfing,snowboarding
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,24.8931,15610.598,1161.8976,5,...,0,0,0,0,0,0,0,0,0,0
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,18.0311,6920.162,507.7968,3,...,0,0,0,0,0,0,0,0,0,0
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,17.7821,2896.812,81.9912,1,...,0,0,0,0,0,0,0,0,0,0
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,16.2674,3379.614,119.7864,1,...,0,0,0,0,0,0,0,0,0,0
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,12.5935,29772.790,1124.7120,5,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# Check the size of the df
trails_info.shape

(3313, 64)

In [8]:
for x in trails_info:
    if trails_info[x].dtypes == "int64":
        trails_info[x] = trails_info[x].astype(float)
        print(trails_info[x].dtypes)

float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64

In [10]:
trails_info = trails_info.select_dtypes(exclude = ['object'])
trails_info = trails_info.fillna(trails_info.mean())
X = trails_info.drop('popularity', axis = 1)
y = trails_info['popularity']

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [13]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 1000, random_state = 42)
regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=1000, random_state=42)

In [14]:
y_pred = regressor.predict(X_test)

In [15]:
df = pd.DataFrame({'Actual': y_test, 'Predicted':y_pred})
df

       Actual  Predicted
1698   4.9204   6.470866
2919   3.0804   3.453271
224   38.5795  35.189776
1332   7.8648   8.378419
1366   5.5826   6.257703
...       ...        ...
1038   9.8002   9.748332
653    4.7569   4.034287
938   33.4693  28.161355
299   17.3657  16.468515
443    9.1179  10.490096

[994 rows x 2 columns]

In [16]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 1.1903195746478907
Mean Squared Error: 3.5310758045943897
Root Mean Squared Error: 1.8791156975009256

In [17]:
# Calculate the absolute errors
errors = abs(y_pred - y_test)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / y_test)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Mean Absolute Error: 1.19 degrees.
Accuracy: -inf %.

In [19]:
import seaborn as sns
plt.figure(figsize=(5, 7))

ax = sns.distplot(y, hist=False, color="r", label="Actual Value")
sns.distplot(y_pred, hist=False, color="b", label="Fitted Values" , ax=ax)


plt.title('Actual vs Fitted Values for Popularity')


plt.show()
plt.close()

TypeError: 'module' object is not callable

In [20]:
import pydot
# Pull out one tree from the forest
Tree = regressor.estimators_[5]
# Export the image to a dot file
from sklearn import tree
plt.figure(figsize=(25,15))
tree.plot_tree(Tree,filled=True, 
              rounded=True, 
              fontsize=14);

ModuleNotFoundError: No module named 'pydot'